* {
    padding: 0;
    margin: 0;
}

.MarginAll {
    margin: 0 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.SpotifyLogo {
    width: 132px;
    height: 41.89px;
    filter: grayscale(1);
    color: #fff;
}

.SpotifyLogo .svelte-1gcdbl9 {
    fill: currentColor;
}

.SpotifyLogo a {
    color: #fff;
}

.NavbarContainer {
    height: 80px;
    width: 100%;
    background-color: #050505;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.NavbarContainer ul {
    display: flex;
    color: #fff;
}

.NavbarList ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.NavbarList ul li {
    list-style: none;
    margin: 0px 15px;
}

.NavbarList ul li a:hover {
    color: green;
}

#bd {
    background-color: purple;
    background-image: linear-gradient(to right, rgb(51, 7, 128), rgb(253, 57, 230));
    height: 550px;
    width: 100%;
    border: solid;
    margin: 0 auto;
}

#img {
    display: inline-block;
    margin-top: 20px;
    align-items: start;
    height: 450px;
    width: 500px;
    vertical-align: middle;
    /* border:solid green; */
    position: relative;
}

#txt {
    display: inline-block;
    /* margin-top: 50px; */
    height: 450px;
    width: 839px;
    /* background-color: yellow; */
    align-items: end;
    color: #a54f4f;
    vertical-align: middle;
}

#t1 {
    margin-top: 80px;
    margin-left: 15%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
    box-sizing: border-box;
    color: #fff;

}

#btn {
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    text-decoration: bold;
    /* font-weight: 00; */
    margin-left: 15%;
    margin-top: 30px;
    background-color: blanchedalmond;
    /* border: 0px; */
    border-radius: 500px;
    padding: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#f1 {
    /* background-color: purple; */
    /* background-image: linear-gradient(to right, rgb(51, 7, 128) , rgb(253, 57, 230)); */
    height: 550px;
    width: 100%;
    border: solid;
    margin: 0 auto;
}

#h2 {
    align-items: right;
    flex-direction: row;
    /* margin: 40%; */
    padding-left: 40%;
    color: #000000;
    float: center;
    margin-top: 55px;
    font-family: sans-serif;
    font-weight: bolder;
}
#c1{
    /* border: 1px solid; */
    align-items:flex-start;
    height: 300px;
    margin-top: 50px;
    width: 1100px; 
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.z1{
    height: 400px;
    width: 400px;
    /* border: 1px solid; */
    padding-left: 50px;
    /* background-color: hotpink; */
}
.txt2{
    margin-top: 40px;
    color: #090909;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
#f2{
    height: 420px;
    width: 100%;
    border: solid;
    margin: 0 auto; 
    color: white;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    background-image: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
}




#f3{
    height: 650px;
    /* width: 100%; */
    border: solid;
    margin: 0 auto; 
    color: white;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    
    /* background-image: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231)); */
    
}
.list{
    /* list-style: none; */
    margin-left: 100px;
    /* align-items: center; */
    align-content: center;
    /* flex: content; */
    /* display: inline-flex; */
    justify-content:center ;
    /* padding: 0px;    */
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
}
#lis{
    width: 80%;
    align-items: center;
    /* height: ; */
    color: aqua;
    border: 1px solid black;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
}
#txt3{
    font-size: 40px;
    line-height: 46px;
    /* box-sizing: border-box; */
    font-family:Helvetica,Arial,sans-serif;
    text-align: center;
    color: #050505;
    margin-top: 2%;
}

#opt{
    padding-top: 10px;
    padding-bottom: 10px; 
    height: 10%;
    width: 70%;
    /* align-items: center; */
    padding: 2%;
    margin-left: 150px;
    margin-top: 3%;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 900;

}
#f4{
    height: 350px;
    width: 100%;
    border: solid;
    margin: 0 auto; 
    color: white;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    background-image: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
}
#h1{
    text-align: center;
    margin-top: 10%;
    padding-right: 20px;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2;
    padding: 0px 15px 80px;
}
#h{
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2;
    text-align: center;
    margin-top: 5%;
    /* font-weight: 1200; */
    /* font-size: xx-large; */
    font-size: 70px;
}
#btn2 {
    box-sizing: border-box;
    font-size: 20px;
    color: black;
    text-decoration: bold;
    /* font-weight: 00; */
    margin-left: 40%;
    margin-top: 30px;
    background-color: blanchedalmond;
    /* border: 0px; */
    border-radius: 500px;
    padding: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}
#f5{
    height: 550px;
    width: 100%;
    border: #fefdfd;
    /* background-color: #000000; */
    margin: 0 auto;
    /* margin-top: 100px; */
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
    background-color:black;
}

.ftr{
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    /* background-color:white; */

}
#co1{
    margin: 0 auto;
    padding: 30px;
    color: white;
    
}
#co2{
    margin: 0 auto;
    padding: 20px;
    color: white;
    /* font-weight: 900; */
    /* letter-spacing: .08em; */
    text-transform: uppercase;
    font-size: 16px;
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
    
    /* font-weight: 400;margin-inline-start: 40px; */
}
#co3{
    margin: 0 auto;
    padding: 20px;
    color: white;font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
    
}
#co4{
    margin: 0 auto;
    padding: 20px;
    color: white;font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
}
#co5{
    margin: 0 auto;
    padding: 0px;
    align-items: center;
    /* color: white; */
    background-color: white;
    border-radius: 50px;
    width: 250px;
    height: 80px;

}
.ftim{
    width: 70px;
    height: 70px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    color: white;
    justify-content: space-between;
    border-radius: 50px;
    
    

}
/* #ins{
    display: block;
    width: 40px;
    height: 50px;
    color: white;
} */
/* #cc1{
    order: 1;
    order: -2;

} */
/* #img1{ 
    display: flex;
    float: center;
} */